:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1, h2, p {
  margin: 0.5rem;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 1s;
  padding: 60px 20px;
}

#home {
  background-color: #ffffff;
}

#projects {
  background-color: #ffffff;
}

#contact {
  background-color: #ffffff;
}